.navbar {
    border-bottom: 2px solid blue;
}


.smallIcon {
    max-height: 100px;
}

.customButton {
    min-width: 35%;
    min-height: 40px;
    margin-left: 30%;
}

.formRow {
    padding: 5px;
}

.screenHigh {
    display: flex;
    flex-direction: column;
}

.borderSep {
    border-right: blue medium solid;
}

.navbarG {
    background-color: cornflowerblue;
}

.navbarText {
    font-weight: bold;
    font-size: 20px;
    color: white;
}