.navbar {
    border-bottom: 2px solid blue;
    background-color: cornflowerblue;
}

.smallIcon {
    max-height: 100px;
}

.customButton {
    min-width: 40%;
    min-height: 40px;
}

.formRow {
    padding: 5px;
}

.screenHigh {
    display: flex;
    flex-direction: column;
}

.borderSep {
    border-right: blue medium solid;
}


.navbarText {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.loginBox {
    background-color: #87ceeb;
    max-width: 40%;
    margin: auto;
    border: black medium solid;
}

.homeScreenContainer {
    min-height: max-content;
}

.authLayoutNavbar {
    justify-content: end;
    min-height: 118px;
}

.authNavbarButton {
    margin: 10px 20px 10px 10px;
}