.navbar {
    border-bottom: 1px solid blue;
}


.smallIcon {
    max-height: 100px;
}

.customButton {
    min-width: 35%;
    min-height: 40px;
    margin-left: 30%;
}

.formRow {
    padding: 5px;
}